{% extends 'base.html.twig' %}

{% block title %}Hello ClassesController!{% endblock %}

{% block body %}
<div class="container">
<br>
<div class="row">
    <div class="col-9">
        <h2>Subject: {{classes.name}}</h2>
    </div>
    <div class="col-3 text-right">
        <a class="btn btn-outline-danger" href="{{path('classes.show_marks')}}">Back</a>
    </div>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Group</td> 
            <td>Number of students</td>
            <td>Lecture hours</td>
            <td>Exercises hours</td>
            <td>Laboratory hours</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{classes.studentsGroup}}</td>
            <td>{{classes.students.count}}
            <td>{{classes.lectureHours}}</td>
            <td>{{classes.exercisesHours}}</td>
            <td>{{classes.laboratoryHours}}</td>
        </tr>
    </tbody>   
</table>
<br>
<h2>Marks list</h2>
<br>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <td>Number</td> 
            <td>Name</td>
            <td>Surname</td>
            <td>Index number</td>
            <td>Pluses</td>
            {% for date in classes.datesOfClasses %}
            <td class="text-center">
            {{date|date("d")}}
            <br>
            {{date|date("M")}}
            <br>
            {{date|date("y")}}
            {% endfor %}
            </td>
        </tr>
    </thead>
    <tbody>
    {% for student in classes.students %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{student.name}}</td>
            <td>{{student.surname}}</td>
            <td>{{student.indexNumber}}</td>
            <td>{{student.pluses}}</td>

            {% for date in classes.datesOfClasses %}
            {% if date|date("d M Y") in student.marksTable|keys %}
            <td>
            {{student.marksTable[date|date("d M Y")]}}
            </td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% endfor %}
                     
        </tr>
    {% endfor %}
    </tbody>  
</table>
</div>
{% endblock %}
